*{
    border: 1px solid grey;
}

body{
    background-color: beige;
}
header{
    background-color: tan;
}
h1{
    letter-spacing: .5rem;
    text-align: center;
    font-family: cursive;
    font-size: 3rem;
}
h2{
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: 2rem;
}
img{
    width: 25%;
    height: 25%;
    padding: 1%;
    border: 2px black solid;
}
.intro{
    width: 80%;
    text-align: center;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}
.interests{
    width: 80%;
    margin: auto;
    font-size: 1.5rem;
    text-align: left;
}
hr{
    width: 80%;
}

.about{
    width: 80%;
    margin: auto;
    font-size: 1.5rem;
}

.contact{
    width: 80%;
    margin: auto;
    font-size: 1.25rem;
}

.contact a:link{
    color: darkblue;
}
.contact a:hover{
    color: cyan;
    font-size: 1.5rem;
}
.contact a:visited{
    color: red;
}

.footer p{
    font-size: 1.25rem;
    text-align: right;
}